*{
    margin:0;
    padding:0;
}
body{
    background-color: rgba(0, 0, 0, 0.1);
}
.allPage{
   width:980px;
margin-left:auto;
margin-right:auto;
position:relative;
}
#header{
    background-image: url('images/header2.jpg');
    border-radius:10px;
    position:relative;
    width:980px;
    height:100px;    
}
#logo{
    position:absolute;
    transform:scale(0.4);
    left:-40px;
    top:-35px;  
}
.nav{
    position:absolute;
    top:65px;
    right:10px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    list-style: none;
}
.nav a{
    color:white;
    text-decoration: none;
}
.nav li{
    position:relative;
    float: left;
    width:110px;
    height:35px;
    padding:0px 5px;
    background-color: rgba(0, 0, 0, 0.6);
    text-align:center;
    line-height:35px;
    white-space:nowrap;
    border-radius: 5px;
}
.nav li ul{
    list-style:none;
    position:absolute;
    left:0px;  
    
}
.nav .home{
    background-color: lightblue;
}
.nav li:hover{
    background-color: lightblue;
}
.nav li ul li{
    display:none;
}
.nav li:hover ul li{
    display:block;
    border-radius: 0px;
}

#sidebar{
    position: absolute;
    width:118px;
    height:600px;
    background-color:lightblue;
    border-radius: 5px;
    top:100px;
    left:0px;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap:5px;
    justify-content: center;
    align-items: center;
    padding-top:2px;
    box-sizing: border-box;
    border-left:1px solid lightblue;
    border-right:1px solid lightblue;
}
.container{
    width:100%;
    height:100%;
    background-color: white;
    text-align:center;
    font-size:0.7em;
    position:relative;
    
    
}
.container img{
    width:110px;
    height:110px;
    object-fit: cover;
    transition: all 0.2s ease-in; 
    -webkit-transition:all 0.2s ease-in;
    -moz-transition:all 0.2s ease-in;
    -o-transition:all 0.2s ease-in;
}
.container p a{
    text-decoration: none;
    color:white;
   
}
.container p{
    font-size: 1.5em;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:5px;
    background: lightblue;
    border-radius: 3px;
    display:none;
    
    
}
.container:hover img{
    filter: opacity(0.6) blur(3px);
    -webkit-filter: opacity(0.6) blur(3px);
    -moz--filter: opacity(0.6) blur(3px);
    -o-filter: opacity(0.6) blur(3px);
}
.container:hover p{
    display:block;
}

.content-bar{
    width:850px;
    height:600px;
    position:absolute;
    left:130px;
    top:100px;
    
    z-index: -1;
    display: flex;
}
.picture-container{
    width:60%;
    height:600px;
    
    padding:5px;
    position:relative;
    box-sizing: border-box;
   
}
input[type="radio"]{
    width:120px;
    height:120px;
    border:1px solid lightskyblue;
    padding:10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    cursor: pointer;
}

.display-picture{
    width:450px;
    height:450px;
    
    margin-left:auto;
    margin-right:auto;
    margin-top:3px;
    background-size: cover;   
}

#one{
    background-image: url(images/house05/01-120.jpg);
    background-size: cover;
}
#two{
    background-image: url(images/house05/02-120.jpg);
    background-size: cover;
}
#three{
    background-image: url(images/house05/03-120.jpg);
    background-size: cover;
}
#four{
    background-image: url(images/house05/04-120.jpg);
    background-size: cover;
}

#one:checked ~ .display-picture{
    background-image: url(images/house05/01-450.jpg);
    transition:0.5s ease-in;
}
#two:checked ~ .display-picture{
    background-image: url(images/house05/02-450.jpg);
    transition:0.5s ease-in;
}
#three:checked ~ .display-picture{
    background-image: url(images/house05/03-450.jpg);
    transition:0.5s ease-in;
}
#four:checked ~ .display-picture{
    background-image: url(images/house05/04-450.jpg);
    transition:0.5s ease-in;
}
.description{
    width:40%;
    height:600px;
    color:rgba(0, 0, 0, 0.6);
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    padding:5px;
    float:right;
    box-sizing: border-box;
}
.description h3{
    color:rgb(149, 149, 247);
}

.footer{
    position: absolute;
    width:980px;
    height:50px;
    top:700px;
    left:0px;
    background-color: rgb(186, 221, 233);
    border-radius:10px;
    box-sizing: border-box;
    display:flex; 
    align-items: center; 
    justify-content: space-between;
    padding:0px 10px;
    margin-top:10px;
}
.footer .contact span{
    padding: 0px 5px;
    
}
.footer .contact span a{
    text-decoration: none;
    color:black;
    padding:2px;
}
.footer .contact span a:hover{
    background-color: whitesmoke;
    border-radius: 10%;
}
.socialMedia img{ 
    padding:0px 5px;
}

